/* SESAO DE DADOS */
.sections.dadosDesi{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 60rem;
}


canvas {
    display: flex;
    max-width: 500rem;
    width: 100%;


}


/* ROGER SOLUCAO*/
.viewSuport{
    display: none;
}
.sections.solucao{
    margin: 1rem;
}
.area-text .text-h1{
    margin-top: 1rem;
}
.area-text .text-h4{
    margin: 1rem;
}















/* RESPONSIVIDADE */
/* comeca a diminuir */
@media(max-width:1000px){

}




/* tablet */
@media screen and (max-width: 767px) {

    .sections.solucao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}




/* CELULARES */
@media (max-width: 400px) {
    .sections.dadosDesi{
        max-height: 105rem;
    }
}