

/* KAWAN */

.sections.dados {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    max-height: 300rem;
    height: 100%;
}
.sections.dados:hover {
    box-shadow: 10px 10px 10px var(--purpleSoft);
    transition: 0.8s all;
}

.sections.dados .area-text {
    margin-bottom: 20px;
}

.sections.dados .text-h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.sections.dados .text-p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

.sections.dados ul {
    padding-left: 20px;
    list-style-type: disc;
}

.sections.dados li {
    font-size: 1rem;
    color: #444;
    margin-bottom: 8px;
}

.sectionsdados li strong {
    color: #000;
}

.sections.dados em {
    font-style: italic;
    color: #777;
}



/* SESSAO CAPACITISMO */
.sections.capacitismo{
    max-height: 300rem;
    height: 100%;
}
.capacitismo .text-h4{
    margin: 1rem;
}



/* SESSAO DE TRANSIÇÃO */
.paralax.paralax-5{
    background-image: url("../images/empregabilidade.jpg");
}

/* SAUDE DAVI */
.sections.saude{
    display: flex;
    align-items: center; 
}

#dados li strong {
    color: #3498db; 
    font-weight: 600; 
}

#dados li:before {
    content: '•'; 
    color: #3498db; 
    margin-right: 15px;
    font-size: 20px; 
}

#dados li:hover {
    background-color: #f0f8ff; 
    border-radius: 5px;
    transition: all 0.3s ease; 
}

#dados p:last-child {
    text-align: center; 
    font-style: italic; 
}
