
/* SESSÃO DE DIFERENÇAS */
.sections.diferenca{
    width: 100%;
    height: 100%;
    max-height: 70rem ;
}

.diferenca .text-h4{
    margin-bottom: 1rem;
}
.diferenca .area-text.informativo{
    width: 100%;
    height: 100%;
    max-height: 200rem ;
}

/* SESÃO DE TRANSIÇÃO DE TIPOS */
.paralax.paralax-3{
    background-image: url("../images/rainPurple.png");
}

/* SEÇÃO DE TIPOS */
.sections.tipos{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 300rem;
}
.tipos .area-text{
    margin-top: 1rem;
    border-top: 2px solid var(--purpleSoft) ;
}
.tipos .esquizofrenia:hover, .depressao:hover, .bipolaridade:hover{
    border-top: 4px solid var(--puple) ;
    transform: translateX(20px);
    transition: 0.8s all;
}


.area-text-div .text-h4{
    margin: 1rem;
}

/* SESÃO GAME PEDRO */
.game {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.game > button {
    width: 400px;
    height: 50px;
    transition-duration: 0.5s;
    border-radius:5px;
    border: none;
    outline: none;
    background-color: #7d5b8c;
    font-family: "DynaPuff", system-ui;
    font-size: 20px;
}

.game > button:hover {
    display: block;
    margin-top: 15px;   
    width: 500px;
    height: 60px;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    cursor: pointer;
}

/* Modal */

#run_game {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_game {
    background: #d19c41;
    border-radius: 8px;
    width: 40%;
    max-width: 90%;
    height: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px #0000001a;
    position: relative;
}

.article_game {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    top: 0;
    left: 0;
} 

#seta_game {
    margin-left: 200px;
    margin-top: 240px;
    justify-content: right;
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
#logo_game {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

#data_game {
    margin-top: 20px;
    font-size: 1.4rem;
}

.article_game > img {
    width: 50%;
    height: auto;
}

#take_game {
    width: 55%;
    height: 35px;
    margin-top: 40px;
    border-radius:5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #504f4f6a;
    font-family: "DynaPuff", system-ui;
    font-size: 1rem;
    gap: 10px;
}

#take_game:hover {
    width: 60%;
    height: 40px;
    transition-duration: 0.3s;
}

/* Questions for Game */

.perguntas_conteiner {
    background: #ffffff;
    border-radius: 8px;
    width: 40%;
    max-width: 90%;
    height: 85%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px #0000001a;
    position: relative;
}

.perguntas{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.numero-questao {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 4px;
}

.container-questao {
    width: 100%;
    min-height: 79%;
    padding: 10px 20px 0px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-questao> h1{
    text-align: center;
    font-size: 35px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

ul{
    padding-top: 15px;
}

#tituloQuestao {
    margin-bottom: 180px;
}

#resultado {
    display: none; 
    text-align: center;
}
.botaoResposta {
    width: 33rem;
    height: 3rem;
    border-radius: 15px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 4px 4px 0px 4px black;
    cursor: pointer;
}



/* RESPONSIVIDADE */
/* comeca a diminuir */
@media(max-width:1000px){
    .sections.diferenca{
        display: flex;
        flex-direction: column;
    }
    .sections.game{
        max-width: 100rem;
        max-height: 100rem;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }


}






/* tablet */
@media screen and (max-width: 767px) {
/* SEÇÃO DE TIPOS */
.sections.tipos{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 360rem;
}


}




/* CELULARES */
@media (max-width: 400px) {

    /* SESSÃO DE DIFERENÇAS */
.sections.diferenca{
    max-height: 85rem ;
}

.sections.tipos{
    max-height: 430rem;
}


.game {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.game > button {
    width: 400px;
    height: 50px;
    transition-duration: 0.5s;
    border-radius:5px;
    border: none;
    outline: none;
    background-color: #7d5b8c;
    font-family: "DynaPuff", system-ui;
    font-size: 20px;
}

.game > button:hover {
    display: block;
    margin-top: 15px;   
    width: 500px;
    height: 60px;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    cursor: pointer;
}

/* Modal */

#run_game {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal_game {
    background: #d19c41;
    border-radius: 8px;
    width: 40%;
    max-width: 90%;
    height: 80%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px #0000001a;
    position: relative;
}

.article_game {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    top: 0;
    left: 0;
} 

#link_seta {
    display: inline-block; 
    text-decoration: none; 
    cursor: pointer;      
}

#seta_game {
    margin-left: 200px;
    margin-top: 240px;
    justify-content: right;
    width: 50px;
    height: auto;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
#logo_game {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

#data_game {
    margin-top: 20px;
    font-size: 1.4rem;
}

.article_game > img {
    width: 50%;
    height: auto;
}

#take_game {
    width: 55%;
    height: 35px;
    margin-top: 40px;
    border-radius:5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: #504f4f6a;
    font-family: "DynaPuff", system-ui;
    font-size: 1rem;
    gap: 10px;
}

#take_game:hover {
    width: 60%;
    height: 40px;
    transition-duration: 0.3s;

}
}